<form [formGroup]="passwordForm" (ngSubmit)="passwordForm.valid && submit()">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>{{title}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex flex-column">
      <mat-form-field>
        <mat-icon matPrefix class="md-18 mr-2">lock</mat-icon>
        <input type="password" matInput placeholder="Old Password *" formControlName="oldpwd">
        <mat-error *ngIf="passwordForm.controls['oldpwd'].hasError('required')">Required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix class="md-18 mr-2">lock</mat-icon>
        <input type="password" matInput placeholder="New Password *" formControlName="newpwd" >
        <mat-error *ngIf="passwordForm.controls['newpwd'].hasError('required')">Required</mat-error>
        <mat-error *ngIf="passwordForm.controls['newpwd'].hasError('minlength')">Minimum length: 6</mat-error>
        <mat-error *ngIf="passwordForm.controls['newpwd'].hasError('pattern')">One special, one letter and one number</mat-error>
      </mat-form-field>
      <ng2-password-strength-bar
        [passwordToCheck]="passwordForm.controls['newpwd'].value"
        [barLabel]="barLabel"
        [barColors]="myColors">
      </ng2-password-strength-bar>

      <mat-form-field>
        <mat-icon matPrefix class="md-18 mr-2">lock</mat-icon>
        <input type="password" matInput placeholder="Confirm Password *" formControlName="confirmpwd" validateEqual="newpwd">
        <mat-error *ngIf="passwordForm.controls['confirmpwd'].hasError('required')">Required</mat-error>
        <mat-error *ngIf="passwordForm.controls['confirmpwd'].hasError('minlength')">Minimum length: 6</mat-error>
        <mat-error *ngIf="!passwordForm.controls['confirmpwd'].errors?.validateEqual">Did not match</mat-error>
        <mat-error *ngIf="passwordForm.controls['confirmpwd'].hasError('pattern')">One special, one letter and one number</mat-error>
      </mat-form-field>
      <ng2-password-strength-bar
        [passwordToCheck]="passwordForm.controls['confirmpwd'].value"
        [barLabel]="barLabel"
        [barColors]="myColors">
      </ng2-password-strength-bar>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between">
      <button mat-raised-button color="primary">Change Password</button>
    </mat-card-actions>
  </mat-card>
</form>

